[Unit]
Description=No Signal display
After=userconfig.service
DefaultDependencies=no

[Service]
Type=simple
ExecStart=/opt/no_signal/no_signal.sh

[Install]
WantedBy=sysinit.target
